Customer1
<ngx-charts-pie-chart
  [view]="[700, 400]"
  [results]="data1"
  [gradient]="false"
  [legend]="true"
  [doughnut]="false"
  [labels]="true"
  [tooltipDisabled]="false"
  [arcWidth]="0.25">
</ngx-charts-pie-chart>

Customer2
<ngx-charts-pie-chart
  [view]="[700, 400]"
  [results]="data2"
  [gradient]="false"
  [legend]="true"
  [doughnut]="false"
  [labels]="true"
  [tooltipDisabled]="false"
  [arcWidth]="0.25">
</ngx-charts-pie-chart>

Customer3
<ngx-charts-pie-chart
  [view]="[700, 400]"
  [results]="data3"
  [gradient]="false"
  [legend]="true"
  [doughnut]="false"
  [labels]="true"
  [tooltipDisabled]="false"
  [arcWidth]="0.25">
</ngx-charts-pie-chart>
<router-outlet></router-outlet>
