<div>
Enter the new Customer products Data</div>
<select  [(ngModel)]="selectedCustomer" >
 <option >customer1</option>
 <option>customer2</option>
 <option>customer3</option>
</select>
<select  [(ngModel)]="selectedProduct">
  <option>Ice-cream</option>
  <option>Rice bag</option>
  <option>Drink bottle</option>
 </select>
 <select [(ngModel)]="selectedProductValue">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>5</option>
  <option>10</option>
 </select>
 <button (click)="submit()" type="submit" [disabled]="(!selectedCustomer) || (!selectedProduct)">submit</button>
